body {
  background: #4e3225;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #f5eed8;
}


.clock {
  position: absolute;
  margin: 0.5vw;
  top: 0;
  right: 0;
  color: #f5eed8;
  font-size: 2.5vh;
  z-index: +1;
}

.intro {
  position: relative;
  top: 0;
  left: 0;
  background-color: #4e3225;
  max-width: 60%;
  font-size: 5vh;
}

.stuff {
  position: absolute;
  margin-right: 0.5vw;
  padding-right: 0.5vw;
  background-color: #4e3225;
}

.bio {
  padding-bottom: 5px;
}

.beat {
  position: fixed;
  margin: 0.5vw;
  padding: 1vw;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 2.5px;
  border-color: #f5eed8;
  background-color: #4e3225;
  z-index: -2;
}

.contact {
  position: fixed;
  margin: 0.5vw;
  padding: 1vw;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 2.5px;
  border-color: #f5eed8;
  background-color: #4e3225;
  z-index: -1;
}

.thumb {
  width: 3em;
  height: 1.875em;
  display: inline;
  position: relative;
  top: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  z-index: 0;
  object-fit: cover;
}

.back {
  position: fixed;
  margin: 0.5vw;
  padding: 1vw;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 2.5px;
  font-size: 4vh;
  z-index: +1;
}


  .projects {
    font-size: 3vh;
    max-width: 65ch;
    margin-left: calc(2vw + 10px);
  }

  .projects img {
    max-width: 100%;
  }

  .projects video {
    max-width: 100%;
  }


/* second class for details tag with no outline */
.b1 {
  font-size: 4.5vh;
  outline: 0px solid #f5eed8;
}


img {
  max-width: 60%;
}

video {
  max-width: 80%;
}

/* details styling */

details {
  font-size: 3vh;
  padding: 20px; /* the padding here */
  outline: 2.5px solid #f5eed8;
  background-color: #4e3225;
}

summary {
  cursor: pointer;
  padding: 10px;
  margin: -20px; /* negative margin here */
  user-select: none;
}
details[open] summary {
  margin-bottom: 20px; /* the bottom the same as padding*/
}


/* link styling */

summary:hover {
  color: #c9b99a;
}

summary:active {
  color: hotpink;
}

a:link {
  color: #f5eed8;
  text-decoration: underline;
  text-decoration-line: underline;
}

a:visited {
  text-decoration: underline;
  color: #f5eed8;
}

a:hover {
  color: #c9b99a;
}

a:active {
  color: hotpink;
}

@media screen and (max-width: 800px) {
  details {
    font-size: 6vw;
  }
  .b1 {
    font-size: 6vw;
  }
}
